In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
data_appl = pd.read_csv("C:\Drive D\Study\Master's\Sem 4\Cloud Management\project\HistoricalData_aapl.csv")
data_msft = pd.read_csv("C:\Drive D\Study\Master's\Sem 4\Cloud Management\project\HistoricalData_msft.csv")
data_qcom = pd.read_csv("C:\Drive D\Study\Master's\Sem 4\Cloud Management\project\HistoricalData_qcom.csv")
data_amd = pd.read_csv("C:\Drive D\Study\Master's\Sem 4\Cloud Management\project\HistoricalData_amd.csv")

In [6]:
data_appl['Company'] = 'Apple Inc'
data_msft['Company'] = 'Microsoft Inc'
data_qcom['Company'] = 'Qualcomm Incorporated'
data_amd['Company'] = 'Advanced Micro Devices Inc'

In [15]:
data_amd.head()

,Date,Close/Last,Volume,Open,High,Low,Company
0,04/24/2024,$151.74,43412550,$156.56,$157.6598,$150.63,Advanced Micro Devices Inc
1,04/23/2024,$152.27,46051910,$151.65,$153.495,$150.35,Advanced Micro Devices Inc
2,04/22/2024,$148.64,49397030,$148.15,$149.89,$145.63,Advanced Micro Devices Inc
3,04/19/2024,$146.64,71618200,$151.59,$154.25,$145.29,Advanced Micro Devices Inc
4,04/18/2024,$155.08,52669820,$155.51,$156.96,$152.32,Advanced Micro Devices Inc

In [8]:
df = pd.concat([data_appl, data_msft, data_qcom, data_amd], axis = 0)

In [13]:
df.value_counts()

Date        Close/Last  Volume    Open      High      Low        Company
01/02/2020  $160.62     22634550  $158.78   $160.73   $158.33    Microsoft Inc                 1
09/01/2020  $227.27     25791240  $225.51   $227.45   $224.43    Microsoft Inc                 1
09/01/2022  $157.96     74229900  $156.64   $158.42   $154.67    Apple Inc                     1
            $129.92     8716270   $129.98   $130.13   $126.0833  Qualcomm Incorporated         1
09/01/2021  $301.83     18983830  $302.865  $305.19   $301.49    Microsoft Inc                 1
                                                                                              ..
05/03/2022  $281.78     25978610  $283.96   $284.13   $280.15    Microsoft Inc                 1
            $159.48     88966530  $158.15   $160.71   $156.32    Apple Inc                     1
            $144.26     7556824   $144.705  $145.685  $142.76    Qualcomm Incorporated         1
05/03/2021  $78.55      66323270  $81.97    $82.00    $78.46     Advanced Micro Devices Inc    1
12/31/2021  $336.32     18000800  $338.51   $339.355  $335.85    Microsoft Inc                 1
Length: 5036, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5036 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        5036 non-null   object
 1   Close/Last  5036 non-null   object
 2   Volume      5036 non-null   int64
 3   Open        5036 non-null   object
 4   High        5036 non-null   object
 5   Low         5036 non-null   object
 6   Company     5036 non-null   object
dtypes: int64(1), object(6)
memory usage: 314.8+ KB

In [17]:
df.isna().sum()

Date          0
Close/Last    0
Volume        0
Open          0
High          0
Low           0
Company       0
dtype: int64

In [18]:
df['Close/Last'] = df['Close/Last'].replace('[\$,]', '', regex=True).astype(float)
df['Open'] = df['Open'].replace('[\$,]', '', regex=True).astype(float)
df['High'] = df['High'].replace('[\$,]', '', regex=True).astype(float)
df['Low'] = df['Low'].replace('[\$,]', '', regex=True).astype(float)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5036 entries, 0 to 1258
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        5036 non-null   object
 1   Close/Last  5036 non-null   float64
 2   Volume      5036 non-null   int64
 3   Open        5036 non-null   float64
 4   High        5036 non-null   float64
 5   Low         5036 non-null   float64
 6   Company     5036 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 314.8+ KB

In [21]:
df['day']=pd.to_datetime(df['Date']).dt.day
df['month']=pd.to_datetime(df['Date']).dt.month
df['year']=pd.to_datetime(df['Date']).dt.year
df['quarter']=pd.to_datetime(df['Date']).dt.quarter

In [25]:
df.head()

,Date,Close/Last,Volume,Open,High,Low,Company,day,month,year,quarter
0,04/24/2024,169.02,48251840,166.540,169.30,166.210,Apple Inc,24,4,2024,2
1,04/23/2024,166.90,49537760,165.350,167.05,164.920,Apple Inc,23,4,2024,2
2,04/22/2024,165.84,48116440,165.515,167.26,164.770,Apple Inc,22,4,2024,2
3,04/19/2024,165.00,68149380,166.210,166.40,164.075,Apple Inc,19,4,2024,2
4,04/18/2024,167.04,43122900,168.030,168.64,166.550,Apple Inc,18,4,2024,2

In [28]:
df.to_csv("C:\Drive D\Study\Master's\Sem 4\Cloud Management\project\cleaned_stock_data.csv", index=False)